/* Styles CSS pour le Footer (Footer.jsx) */

.footer-container {
  /* Positionnement et apparence */
  /*margin-top: auto; /* Pousse le footer vers le bas si .App est un flex-column */
<<<<<<< HEAD
  padding: 30px 0px;
  background-color: #282c34; /* Couleur de fond sombre */
  color: #f8f9fa; /* Texte blanc/gris clair */
=======

  padding: 30px 0px;
  background-color: white; /* Couleur de fond sombre */
  color: black; /* Texte blanc/gris clair */
>>>>>>> mohamed-amine
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 0.9rem;
}

.footer-content p {
  margin: 5px 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

nav.links {
  display: flex;
  flex-direction: column;
}
<<<<<<< HEAD
a {
  color: white;
  text-decoration: none;
}

h3 {
  color: white;
  font-family: "Trebuchet MS"; /*a modifier*/
  margin-bottom: 10px;
}

.hr_milieu {
=======
.footer-container a {
  color: black;
  text-decoration: none;
}

.hr-milieu {
>>>>>>> mohamed-amine
  margin-left: 25%;
  margin-right: 25%;
  border: solid gray 1px;
}
